a {
    color: red;
}
#paginacion{
    position: absolute;
    bottom: 0%;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paging{
    flex-direction: row;
    justify-content: space-around;
}

.paging *{
    flex: none;
    margin: 10px;
}

