div[class*="index_"]{
    margin-top: 50px;
    padding-bottom: 35px;
    min-height: 200px;
    border-bottom: 0.5px solid black;
}

div.index_post_excerpt{
    border: none !important;
}

.index_post:before{
    content: '\f02e';
    font-family: FontAwesome;
    font-size: 1.5em;
}

.index_gallery .gallery{
    max-height: 356px;
    overflow: hidden;
    box-shadow: inset 1px 1px white;
}

.index_gallery:before{
    content: '\f181';
    font-family: FontAwesome;
    font-size: 1.5em;
}

.index_audio:before{
    content: '\f028';
    font-family: FontAwesome;
    font-size: 1.5em;
    align-self: baseline;
}

.index_audio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index_audio .titulo_otros{
    display: block;
    align-self: baseline;
}

.index_quote{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index_quote:before{
    content: '\f10d';
    font-family: FontAwesome;
    font-size: 1.5em;
    align-self: baseline;
}

.index_quote .titulo_otros{
    align-self: baseline;
}

.index_quote .quote{
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

.index_quote .quote:before{
    content: "\f10d";
    font-family: FontAwesome;
}

.index_quote .quote:after{
    content: "\f10e";
    font-family: FontAwesome;
}

.index_quote .quote_author{
    font-size: 1.4em;
    text-align: center;
}

.index_image .image{
    margin-top: 15px;
}

.index_video:before{
    content: "\f008";
    font-family: FontAwesome;
    font-size: 1.5em;
}

.index_link:before{
    content: "\f14c";
    font-family: FontAwesome;
    font-size: 1.5em;
}

.index_link .link{
    border-left: 1px dotted black;
}

.index_link .link a{
    color: black;
    text-decoration: none;
}