@import url("css/bootstrap.min.css");
@import url("css/modern-business.css");
@import url("fonts/font-awesome/css/font-awesome.css");

@font-face{
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'RobotoSlab-Bold';
    src: url('fonts/Roboto_Slab/RobotoSlab-Bold.ttf') format('truetype');
}

::before{
    margin-right: 5px;
}

/*************************************/
/************* mystyles **************/
/*************************************/

html, body{
    width: 100%;
}


/*nav*/

nav{
    /*background-color: #af1f3a!important;*/
    max-width: 100% !important;
    background-color: #DA1A01 !important;
    border: none !important;
}

nav > .container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container::before{
    display: none;
}

.container::after{
    display: none;
}

.navbar{
    height: 70px;
}

.navbar-brand{
    font-family: 'RobotoSlab-Bold';
    font-size: 3em;
    color: white!important;
    position: relative;
}

.navbar-brand::before{
    content: url(img/lu-logo.png);
    position: absolute;
    left: -45px;
    top: 0px;
}

.navbar-brand:hover{
    /*color: #0b2a50!important;*/
    color: #13171A!important;
}

.navbar-nav li a{
    font-family: 'Roboto-Regular'!important;
    font-size: 1em!important;
    color: white!important;
}

.navbar-nav li a:hover{
    color: #13171A!important;
}

/*slider*/

.carousel-caption{
    top: 200px;
}

.carousel-caption > h2{
    font-family: 'RobotoSlab-Bold';
    font-size: 12em;
    color: #DA1A01;
    text-transform: uppercase;
    opacity: 0.95;
}

.carousel-caption > h3{
    font-family: 'Roboto-Regular';
    font-size: 5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 15px;
    
}

/*SECCION1*/

.seccion-1{
    background-color: #DA1A01!important;
}

.page-header{
    color: #13171A!important;
    border-bottom: 2px solid #13171A!important;
}

.panel-heading > img{
    height: 100px!important;
    width: 100%!important;
    background-color:dodgerblue!important;
}


























/*--------------------- FRONT-PAGE ------------------------*/

#frontImage .bg1{
    height: 100%;
    width: 100%;
    background: url("fotos/tienda/1.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#frontImage .bg2{
    height: 100%;
    width: 100%;
    background: url("fotos/tienda/2.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#frontImage .bg3{
    height: 100%;
    width: 100%;
    background: url("fotos/tienda/3.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#frontImage .bg4{
    height: 100%;
    width: 100%;
    background: url("fotos/tienda/4.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#frontImage span{
    font-size: 3em;
    width: 100%;
    text-align: center;
    line-height: 100%;
}

.flexible{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10%;
    border-left: 5px solid white;
    border-right: 5px solid white;

}

.flexible a{ 
    color: black;
    text-decoration: none;
}

.flexible .noticias{
    position: relative;
    flex: 1 1 33%;
    width: 100%;
    overflow: hidden;
    border-bottom: none;
}

.flexible .noticias img{
    border: 1px solid black;
    box-shadow: 0px 0px 6px 0px black;
}


.flexible .noticias .leyenda{
    margin-left: 5%;
}

.flexible .noticias .leyenda span:first-child{
    text-shadow: 0px 0.5px 1px rgb(95, 101, 123);
    font-size: 2em;
}

.flexible .noticias .leyenda span:nth-of-type(2){
    margin-top: 2%;
}

/*--------------------- INDEX ------------------------*/

#myCarousel2{
    height: 77%;
}

#myCarousel2 .active #titulofoto{
    top: 0%;
    text-align: center;
}

.reserva_hueco{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: 0px -4px 20px 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1.5%;
}

.post-categories li{
    list-style-type: none;
    display: inline;
}

.categories p{
    top: 0%;
    width: 100%;
    text-align: center;
}

#fotoprincipal{
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    z-index: -1;
}

.fondoblanco{
    background: white;
}

#titulofoto{
    position: absolute;
    color: white;
    top: 3%;
    /* left: 33%; */
    width: 100%;
    text-align: center;
    font-size: 7em;
    z-index: 1;
    text-shadow: 1px 1px black;
}

.titulo a{
    color: black;
    font-size: 1.5em;
}

.titulo_otros{
    color: black;
    font-size: 1.3em;
}

.more{
    font-size: 1.1em;
    color: black;
    font-style: italic;
}


/* ICONO DE CALENDARIO */
time.icon{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon *{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

/* FOTOS DEL POST EN PEQUEÑO*/
.fotopost{
    height: 100%;
}

img.post_first_image{
    margin-top: 10%;
}

div.index_post_excerpt.col-lg-7{
    margin-top: 5%;
}

/* POST PEQUEÑOS */

div.post_index{
    margin-top: 5%;
}

/*-------------------------- SINGLE -------------------*/

.row{
    min-height: 35px;
}

.titulo_post{
    font-size: 2em;
    text-align: center;
}

.imagen_post img{
    object-position: 50% 50%;
}

/*------------------------- AUTHOR-ADMIN ------------------*/

img#facebook{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

img#twitter{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

#sidebar div a, #sidebar div li{
    text-decoration: none;
    color: black;
    list-style: none;
}

g.highcharts-button.highcharts-contextbutton.highcharts-button-normal{
    display: none;
}
/*------------------------- COMMENTS ------------------*/

.commentlist div{
    background: gray;
}

/*-------------------------- SIDEBAR -------------------*/

#sidebar section a, #sidebar section li{
    text-decoration: none;
    color: black;
    list-style: none;
}

button.search-button{
    background: none;
    border: none;
    
}

img.submitbutton{
    max-width: 26px;
    margin-left: -38px;
    margin-bottom: 5px;
}

/*---------------------------- SEARCH -------------------*/

.container .row .palabra_busqueda{
    color: gray;
}


